:root {
  --bg-color: #408f85;
  --fg-color: #afd5c8;
  --width: 772px;
}

.menu {
  font-weight: bold;
  background: var(--bg-color);
  color: white;
}

article {
  padding: 1em 0 3em 0;
  padding-bottom: 3em !important;
}

article .date {
  display: none;
}

a.article-link, a.article-link:visited, a.article-link:hover {
  color: black;
  text-decoration: none;
}

.menu a {
  color: var(--fg-color);
  text-decoration: none;
}

.menu a.navbar-brand {
  color: var(--fg-color);
}

.icon-bar {
  background: var(--fg-color);
}

.menu a.navbar-brand:hover {
  color: white;
}

.menu a.active {
  color: white;
}

.menu a:hover {
  color: #408f85;
}

.next-event {
  background: var(--fg-color);
  text-align: center;
  padding: 0.5em; 
  font-weight: bold;
}

.next-event a {
  color: var(--bg-color);
}

#banner {
  height: 300px;
  background-image: url(/assets/img/illust.png);
  background-size: cover;
  background-position: center left;
  background-repeat: no-repeat;
}

.container-fluid {
  background: white;
}


body {
  background: #408f85;
}

article .img {
  max-width: 100%;
  margin: 2em auto 2em auto;
}

article .img img {
  max-width: 100%;
}

article p, article li {
  font-size: 21px;
  line-height: 28px;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.footer { 
  padding-top: 2em;
  padding-bottom: 2em;
  color: white;
  background: #408f85;
  min-height: 100px;
}

.footer a {
  color: white;
  text-decoration: underline;
}

article, .footer-content, .menu .container {
  max-width: var(--width);
  margin: 0 auto;
  padding: 0 1em;
}

div.content div.img p.caption {
  font-size: 18px;
  padding: 0.5em;
  text-align: center;
}

div.content div.img-block {
  background-image: url(/assets/img/illust.png);
  background-size: cover;
  background-position: center left;
  background-repeat: no-repeat;
  height: 200px;
  width: 100%;
  margin: 20px 0 0 0;
  position: relative;
  overflow: hidden;
}

div.img-block img {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  min-width: var(--width);
}

div.content div.img-block div.text-overlay {
  color: white;
  background: rgba(0,0,0,0.6);
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 24px;
  padding: 10px;
}

.embed-content {
  margin: 2em auto 2em auto;
}

.embed-content iframe {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

@media screen and (max-width: 500px) {
  #banner { height: 100px }
}
