<div class="socials">
    <a href="https://twitter.com/tokyo_indies"><img class="socials-svg" src="/socials/twitter.svg" /></a>
    <a href="https://bsky.app/profile/tokyoindies.com"><img class="socials-svg" src="/socials/bluesky.svg" /></a>
    <a href="https://discord.com/invite/NZaHDmUXpM"><img class="socials-svg" src="/socials/discord.svg" /></a>
    <a href="https://www.twitch.tv/tokyo_indies"><img class="socials-svg" src="/socials/twitch.svg" /></a>
    <a href="https://store.steampowered.com/curator/45232922-Tokyo-Indies/"><img class="socials-svg"
            src="/socials/steam.svg" /></i></a>
</div>
